.vsc-initialized {
  margin: 0;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.Container {
  display: absolute;
}

.Board {
  display: flex;
}

.Row {
  display: absolute;
}

.Tile {
  width: 40px;
  height: 40px;
  border-style: solid;
  background-color: white;
  border-width: 1px;
}