.vsc-initialized {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.Containter {
  position: absolute;
  top: 0;
  left: 0;
}

.Board {
  display: flex;
}

.Row {
  display: absolute;
}

.Tile {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid black;
  background-color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

.X {
  color: red;
}

.O {
  color: blue;
}

.WinX {
  color: white;
  background-color: red;
}

.WinO {
  color: white;
  background-color: blue;
}