.vsc-initialized {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.Containter {
  position: absolute;
  top: 0;
  left: 0;
}

.Board {
  display: flex;
}

.Row {
  display: absolute;
}

.Tile {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}